$ cat .gitignore

# Can ignore specific files
Makefile
info.txt
cmake_install.cmake
install_manifest.txt

fbdoc
fbdoc.geany
doxy/fbdoc.lfn

# Use wildcards as well

# Can also ignore all directories and files in a directory.

7z/**/*
build*/**/*
test*/**/*
src/test*/**/*
doxy/html/**/*
doxy/latex/**/*
CMakeFiles/**/*
_CPack*/**/*
