Source: fb-doc
Section: dev
Priority: extra
Maintainer: Arend Lammertink <lamare@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, cmake (>= 2.8.3), cmakefbc (>= 0.6.0), freebasic (>= 1.0.0), fb-doc (>= 0.4.2), doxygen (>= 1.8.1), graphviz (>= 2.26.3)
Standards-Version: 3.9.7
Homepage: https://github.com/DTJF/fb-doc
#Vcs-Git: git://git.debian.org/collab-maint/fb-doc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fb-doc.git;a=summary

Package: fb-doc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Documentation tool for FreeBASIC source code
 Welcome to the fb-doc package. It's a cross-platform multifunctional
 tool, mainly for generating documentation from and for FreeBASIC (= FB)
 source code, but useful for other pruposes as well, ie. like generating
 header files. Rather than creating the documentation output directly,
 fb-doc is designed to close the gap between FB and C syntax to allow for
 using any C / C++ documentation tool-chain. Also it supports the
 creation of documentational comments in the source and it can get
 extended via external plugins.

Package: fb-doc-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: html documentation for fb-doc
 Html documentation for fb-doc, a multi functional tool to generate
 documentation and language bindings from and for FreeBASIC source code.
